python-telegram-bot==12.7
certifi==2019.9.11
gunicorn==19.9.0
chardet==3.0.4
Click==7.0
idna==2.8
itsdangerous==1.1.0
Jinja2==2.10.3
MarkupSafe==1.1.1
PyJWT==1.7.1
pytz==2019.3
requests==2.22.0
six==1.13.0
urllib3==1.25.7
Werkzeug==0.16.0
pandas==1.1.0
google-trans-new==1.1.9
spacy==2.3.2
regex==2020.7.14
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-2.1.0/en_core_web_sm-2.1.0.tar.gz#egg=en_core_web_sm==2.1.0
word2number==1.1
